<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head", {
        title : "home"
    }) %> <!-- es para llamar al head -->

<body class="index">
    
    <%- include("./partials/header") %>

    <main>
<!-- carrousel -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/img-phone-01.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/img-phone-02.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/img-phone-03.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        <section class="index__products">
            <article class="index__products__product">
                <div>
                    <a href="products/detail"><img src="/images/img-phone-01.jpg" alt=""></a>
                </div>
                <h4>Nombre de producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis quae dolore ut ab qui.</p>
                <a href="" class="index__products__product__more">VER MAS</a>
            </article>
            <article class="index__products__product">
                <div>
                    <a href=""><img src="/images/img-phone-02.jpg" alt=""></a>
                </div>
                <h4>Nombre de producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis quae dolore ut ab qui.</p>
                <a href="" class="index__products__product__more">VER MAS</a>
            </article>
            <article class="index__products__product">
                <div>
                   <a href=""><img src="/images/img-phone-03.jpg" alt=""></a> 
                </div>
                <h4>Nombre de producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis quae dolore ut ab qui.</p>
                <a href="" class="index__products__product__more">VER MAS</a>
            </article>
            <article class="index__products__product">
                <div>
                    <a href=""><img src="/images/img-phone-01.jpg" alt=""></a>
                </div>
                <h4>Nombre de producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis quae dolore ut ab qui.</p>
                <a href="" class="index__products__product__more">VER MAS</a>
            </article>
            <article class="index__products__product">
                <div>
                    <a href=""><img src="/images/img-phone-02.jpg" alt=""></a>
                </div>
                <h4>Nombre de producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis quae dolore ut ab qui.</p>
                <a href="" class="index__products__product__more">VER MAS</a>
            </article>
            <article class="index__products__product">
                <div>
                    <a href=""><img src="/images/img-phone-03.jpg" alt=""></a>
                </div>
                <h4>Nombre de producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis quae dolore ut ab qui.</p>
                <a href="" class="index__products__product__more">VER MAS</a>
            </article>
        </section>
        <aside>
              <section class="index__tutorials">
                <h3>Tutoriales</h3>
                <article class="index__tutorials__tutorial">
                    <img src="/images/aside-02.jpg" alt="imagen">
                    <p>Titulo del tutorial de reparacion</p>
                </article>
                <article class="index__tutorials__tutorial">
                    <img src="/images/aside-02.jpg" alt="imagen">
                    <p>Titulo del tutorial de reparacion</p>
                </article>
                <article class="index__tutorials__tutorial">
                    <img src="/images/aside-03.jpg" alt="imagen">
                    <p>Titulo del tutorial de reparacion</p>
                </article>
              </section>
              <section class="index__advertising">
                <h3>Publicidad</h3>
                <article class="index__advertising__add">
                    <img src="/images/ad-01 (1).jpg" alt="">
                    <img src="/images/ad-02 (1).jpg" alt="">
                </article>
              </section>
        </aside>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>