<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", { title : "home" }) %>
    <!-- es para llamar al head -->

    <body class="index">

        <%- include("./partials/header") %>

            <section class="index__banner">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="index__carrousel-item carousel-item active" style="background-image: url(/images/img-phone-01.jpg);">
                      </div>
                      <div class="index__carrousel-item carousel-item" style="background-image: url(/images/img-phone-02.jpg);">
                      </div>
                      <div class="index__carrousel-item carousel-item" style="background-image: url(/images/img-phone-03.jpg);">
                      </div>
                      <div class="index__carrousel-item carousel-item" style="background-image: url(/images/img-phone-01.jpg);">
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </section>
            <main>
                <section class="index__products">
                    <article class="index__products__product">
                        <div>
                            <a href="products/detail"><img src="/images/img-phone-01.jpg" alt=""></a>
                        </div>
                        <h4>Nombre de producto</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis quae dolore ut ab
                            qui.</p>
                        <a href="" class="index__products__product__more">VER MAS</a>
                    </article>
                    <article class="index__products__product">
                        <div>
                            <a href=""><img src="/images/img-phone-02.jpg" alt=""></a>
                        </div>
                        <h4>Nombre de producto</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis quae dolore ut ab
                            qui.</p>
                        <a href="" class="index__products__product__more">VER MAS</a>
                    </article>
                    <article class="index__products__product">
                        <div>
                            <a href=""><img src="/images/img-phone-03.jpg" alt=""></a>
                        </div>
                        <h4>Nombre de producto</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis quae dolore ut ab
                            qui.</p>
                        <a href="" class="index__products__product__more">VER MAS</a>
                    </article>
                    <article class="index__products__product">
                        <div>
                            <a href=""><img src="/images/img-phone-01.jpg" alt=""></a>
                        </div>
                        <h4>Nombre de producto</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis quae dolore ut ab
                            qui.</p>
                        <a href="" class="index__products__product__more">VER MAS</a>
                    </article>
                    <article class="index__products__product">
                        <div>
                            <a href=""><img src="/images/img-phone-02.jpg" alt=""></a>
                        </div>
                        <h4>Nombre de producto</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis quae dolore ut ab
                            qui.</p>
                        <a href="" class="index__products__product__more">VER MAS</a>
                    </article>
                    <article class="index__products__product">
                        <div>
                            <a href=""><img src="/images/img-phone-03.jpg" alt=""></a>
                        </div>
                        <h4>Nombre de producto</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis quae dolore ut ab
                            qui.</p>
                        <a href="" class="index__products__product__more">VER MAS</a>
                    </article>
                </section>
                <aside>
                    <section class="index__tutorials">
                        <h3>Tutoriales</h3>
                        <article class="index__tutorials__tutorial">
                            <img src="/images/aside-02.jpg" alt="imagen">
                            <p>Titulo del tutorial de reparacion</p>
                        </article>
                        <article class="index__tutorials__tutorial">
                            <img src="/images/aside-02.jpg" alt="imagen">
                            <p>Titulo del tutorial de reparacion</p>
                        </article>
                        <article class="index__tutorials__tutorial">
                            <img src="/images/aside-03.jpg" alt="imagen">
                            <p>Titulo del tutorial de reparacion</p>
                        </article>
                    </section>
                    <section class="index__advertising">
                        <h3>Publicidad</h3>
                        <article class="index__advertising__add">
                            <img src="/images/ad-01 (1).jpg" alt="">
                            <img src="/images/ad-02 (1).jpg" alt="">
                        </article>
                    </section>
                </aside>
            </main>

            <%- include("./partials/footer") %>

    </body>

</html>