<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <title>Craftsy | Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="login">
    <header>
        <a href="/"> <img class="header__logo" src="/images/logo.png" alt=""></a>
        <nav class="header__menu">
            <ul class="header__menu__sitio">
                <li><a href="">Smartphone</a></li>
                <li><a href="">TabletS</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>
            <ul class="header__menu__usuarios">
                <li><a href="/login">Registro</a></li>
                <li><a href="/login">Login</a></li>
            </ul>

        </nav>
    </header>
    <main >
        <section>
            <h1>Ingresar</h1>
            <hr>
            <form action="">
                
                <div class="login__form-box">
                    <label for="email">Email</label>
                    <input class="login__form-input"  type="email" id="email" name="email" placeholder="Escribi tu email">
                    <span class="login__text-error">Obligatorio</span>
                </div>

                <div class="login__form-box">
                    <label for="password">Contraseña</label>
                    <input class="login__form-input"  type="password" id="password" name="password" placeholder="Escribi tu contraseña">
                    <span class="login__text-error">Obligatorio</span> 
                </div>
            
                <div class="login__form-box login__center">
                    <input class="" type="checkbox" name="recordame" id="recordame" >
                    <label for="recordame">Recordame</label>
                </div>

                <div class="login__form-box login__center">
                    <button type="submit">Ingresar</button>    
                </div>
            </form>
    </main>
</body>
</html>