<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head", {
        title : "carrito"
    }) %>

<body>
    
    <%- include("./partials/header") %>

    <h1>ProductCart</h1>
</body>
</html>